* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
    margin: 40px 0px 20px 0px;
}

html{
    margin: 0;
    padding: 0;
}

div > section{
    float: left;
    position: relative;
}

body{
    background-color: #e6ffff;
}

@media (min-width: 992px){

    div > section{
        width: 33.33%;
    }

    article{
        border: 2px solid;
        margin: 20px 15px 20px 15px;
        border-radius: 20px;
    }
    
    article > h1{
        position: absolute;
        right: 15px;
        top: 20px;
        text-align: center;
        border: 2px solid black;
        background-color: goldenrod;
        color: black;
        width: 100px;
        border-radius: 0px 20px 0px 25px;
    }
    
    article > p{
        margin: 35px 30px 10px 30px;
        text-align: justify;
    }

    section:nth-child(1) article{
        background-color: #3333cc;
        color: white;
        border-color: black;
    }

    section:nth-child(2) article{
        background-color: #ffff33;
        color: black;
        
    }

    section:nth-child(3) article{
        background-color: #cc0000;
        color: white;
        border-color: black;
    }

}

@media (min-width: 768px) and (max-width: 991px){

    div > section{
        width: 50%;
    }

    div.row section:nth-child(3){
        width: 100%;
    }

    article{
        border: 2px solid;
        margin: 20px 15px 20px 15px;
        border-radius: 20px;
    }
    
    article > h1{
        position: absolute;
        right: 15px;
        top: 20px;
        text-align: center;
        border: 2px solid black;
        background-color: goldenrod;
        color: black;
        width: 100px;
        border-radius: 0px 20px 0px 25px;
    }
    
    article > p{
        margin: 35px 30px 10px 30px;
        text-align: justify;
    }

    section:nth-child(1) article{
        background-color: #3333cc;
        color: white;
        border-color: black;
    }

    section:nth-child(2) article{
        background-color: #ffff33;
        color: black;
        
    }

    section:nth-child(3) article{
        background-color: #cc0000;
        color: white;
        border-color: black;
    }
}

@media (max-width: 767px){

    div > section{
        width: 100%;
    }

    article{
        border: 2px solid;
        margin: 20px 15px 20px 15px;
        border-radius: 20px;
    }
    
    article > h1{
        position: absolute;
        right: 15px;
        top: 20px;
        text-align: center;
        border: 2px solid black;
        background-color: goldenrod;
        color: black;
        width: 100px;
        border-radius: 0px 20px 0px 25px;
    }
    
    article > p{
        margin: 35px 30px 10px 30px;
        text-align: justify;
    }

    section:nth-child(1) article{
        background-color: #3333cc;
        color: white;
        border-color: black;
    }

    section:nth-child(2) article{
        background-color: #ffff33;
        color: black;
        
    }

    section:nth-child(3) article{
        background-color: #cc0000;
        color: white;
        border-color: black;
    }

}

